@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx,mdx}";
@source "../../src/**/*.{js,ts,jsx,tsx,mdx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #000000;
  --color-secondary: #0ea5e9;
  --font-sans: "Inter", var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
